<% include ../partials/header %>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Welcome to Mutes!<br><small>Mutable, CRUD API</small></h1>
      <br>
    </div>
  </div>

  <img src="endpoints_docs.jpg" class="img-responsive"/>

<% include ../partials/footer %>
